.svg-icon-32 {
    width: 32px;
    height: 32px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
    text-align: right;
}
